<div class="input-group">
 <div class="row" >
    <div class="col-xs-12">
      <img [src]="recipe.imagePath" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <input 
         name="recipeName" 
         class="form-control" 
         [value]="recipe.name"
         placeholder="The recipe name"
      />
    </div>
  </div>
 
  <div class="row">
    <div class="col-xs-12">
      <textarea 
         name="recipeDescription"
         class="form-control" 
         placeholder="Description"
      >{{recipe.description}}
      </textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onSave()" ><span class="glyphicon glyphicon-ok"> </span> Save</button>
    </div>
  </div>


  
  <div class="row">
    <div class="col-xs-12">
      <h2>Ingredients</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="row" *ngFor="let ingredient of recipe.ingredients" class="list-group-item" >
          {{ingredient.name}} - {{ingredient.amount}}
        </li>
      </ul>
    </div>
  </div>
</div>
