<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Assignment #3</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <button class="btn btn-primary" (click)="onDisplayDetails()">Display details</button>
    </div>
    <div class="col-xs-5">
       <p [hidden]="!passwordVisible" >Password: tuna</p>
    </div>
  </div>
  <p *ngFor="let timestamp of timestamps"
    [ngStyle]="{ backgroundColor : getDateColor(timestamp.counter) }"
    [ngClass]="{white: timestamp.counter >= 5}"
  >{{timestamp.date}}</p>

</div>
